
                </div>


            </div>
			<!-- begin::Footer -->
			<footer class="m-grid__item		m-footer ">
				<div class="m-container m-container--fluid m-container--full-height m-page__container">
					<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
						<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
								&copy; {$business_name} 2015 
							</span>
						</div>
						<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
							<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
								<li class="m-nav__item">
									<a href="{$system_url}" class="m-nav__link">
										<span class="m-nav__link-text">{$lang.homepage}</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="{$system_url}cart/" class="m-nav__link">
										<span class="m-nav__link-text">{$lang.order}</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="{$system_url}clientarea/" class="m-nav__link">
										<span class="m-nav__link-text">{$lang.clientarea}</span>
									</a>
								</li>
								<li class="m-nav__item">
									<a href="{$system_url}{if $enableFeatures.kb!='off'}knowledgebase/{else}tickets/new/{/if}" class="m-nav__link">
										<span class="m-nav__link-text">{$lang.support}</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

			<!-- end::Footer -->


		<!-- end:: Page -->


		<!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>

		<!-- end::Scroll Top -->
        {if $logged!='1'}
            {include file="ajax.login.tpl" loginwidget=true}
        {/if}
        {userfooter}
        </div>
	</body>

	<!-- end::Body -->
</html>

