<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            {$lang.addfunds}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">



            </div>
        </div>


    </div>
</div>