{include file="mainpageheader.tpl"}
<!--container-->
<div class="container">
            <div class="row">
                <div class="col-md-3">
                {include file ="rightside.tpl"}
                </div>           
            
            <div class="col-md-9">
                <div class="send-t top50">
                    <h4>تسجيل الدخول</h4>
                </div>    
                  <div class="news-cont">
                    <div class="messages-items">  
                            <form  action="{$SITEDOMAN}login" method="post">
                    <table width="50%" cellpadding="2" cellspacing="3">
                        <tr>
                            <td width="40%"><label>
                                    <span>{lang('user_name')}</span>

                                </label></td>
                            <td>
                            <span><input class="form-control" type="text" name="login_username" id="login_username"  title="
   {if $login_by eq 1} {lang('user_name')}{elseif $login_by eq 2} {lang('enter_mobile_number')} {else} {lang('enter_mobile_number')}{/if}
   "  placeholder=" {if $login_by eq 1} {lang('user_name')}{elseif $login_by eq 2} {lang('enter_mobile_number')}{else} {lang('enter_mobile_number')} {/if}"  tabindex="3" /></span>
                            </td>
                        </tr>
                        <tr>
                        <td>
                        <br />
                        </td>
                        </tr>
                        <tr>
                            <td>{lang('password')}</td>
                            <td><span><input class="form-control" type="password" name="login_password" placeholder="******" tabindex="4" /></span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><br /><div align="left"><input  type="submit" name="submit" value="{if $locale == "ar"}دخول{else}login{/if}"/></a></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                               <a href="#" onclick='window.open("{$SITEDOMAN}returnPass/", "{lang('forget_password')}",",scrollbars,height=300,width=400")'  style="color: #E14779;">&#9632;&nbsp;{lang('forget_password')}</a></td>

                        </tr>

                    </table>
                </form>
                      </div>
                </div>
            </div>
        </div>
    </div>

<!--/container-->

<!--footer-->
{include file="footer.tpl"}

{include file="mainpageheader.tpl"}
<!--container-->
<div class="container">
            <div class="row">
                <div class="col-md-3">
                {include file ="rightside.tpl"}
                </div>           
            
            <div class="col-md-9">
                <div class="send-t top50">
                    <h4>تسجيل الدخول</h4>
                </div>    
                  <div class="news-cont">
                    <div class="messages-items">  
                            <form  action="{$SITEDOMAN}login" method="post">
                    <table width="50%" cellpadding="2" cellspacing="3">
                        <tr>
                            <td width="40%"><label>
                                    <span>{lang('user_name')}</span>

                                </label></td>
                            <td>
                            <span><input class="form-control" type="text" name="login_username" id="login_username"  title="
   {if $login_by eq 1} {lang('user_name')}{elseif $login_by eq 2} {lang('enter_mobile_number')} {else} {lang('enter_mobile_number')}{/if}
   "  placeholder=" {if $login_by eq 1} {lang('user_name')}{elseif $login_by eq 2} {lang('enter_mobile_number')}{else} {lang('enter_mobile_number')} {/if}"  tabindex="3" /></span>
                            </td>
                        </tr>
                        <tr>
                            
                        <td>
                        <br />
                        </td>
                        </tr>
                        <tr>
                            <td>{lang('password')}</td>
                            <td><span><input class="form-control" type="password" name="login_password" placeholder="******" tabindex="4" /></span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><br /><div align="left"><input  type="submit" name="submit" value="{if $locale == "ar"}دخول{else}login{/if}"/></a></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">
                               <a href="#" onclick='window.open("{$SITEDOMAN}returnPass/", "{lang('forget_password')}",",scrollbars,height=300,width=400")'  style="color: #E14779;">&#9632;&nbsp;{lang('forget_password')}</a></td>

                        </tr>

                    </table>
                </form>
                      </div>
                </div>
            </div>
        </div>
    </div>

<!--/container-->

<!--footer-->
{include file="footer.tpl"}
