﻿@media only screen  and (min-device-width: 320px) 
and (max-device-width: 480px) {

    .m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper{
        width: 2.5rem;
        height: 2.5rem;
    }
    .m-nav .m-nav__item > .m-nav__link .m-nav__link-icon{
        width: 30px;
    }
    
}